{% extends 'base.html' %}

{% block title %}
Login Here
{% endblock %}

{% block content %}
<form method="post" class="form-group">
    {% csrf_token %}
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" class="form-control"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" class="form-control"><br>
    <button type="submit" class="btn btn-success">Login</button>
	<a class="btn btn-outline-danger" href="{% url 'password_reset'  %}" role="button">Forgot password?</a>

</form>
<p>Don't have an account? Create one <a href="{% url 'signup' %}">here</a></p>
{% endblock %}
